<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Handle requests to the root (index.html)
  RewriteRule ^$ index.html [L]

  # Handle requests to existing files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>
