<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /courier-frontend/

  # Handle requests for the bundle files
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /courier-frontend/index.html [L]
</IfModule>